table {
    border-collapse: collapse;
    font-size: 75%;
}
thead tr {
    border-bottom: 1px solid black;
    background: #AAF;
}
tr {
    background: #DDF;
}
tr:nth-child(even) {
    background: #EEF;
}
.selected {
    background: #F8F8DD;
}
.selected:nth-child(even) {
    background: #F8F8BB;
}
th, td {
    padding: 3px;
    text-align: center;
    border: 0;
}
.good {
    background: rgba(200, 255, 200, 0.7);
}
.bad {
    background: rgba(255, 200, 200, 0.7);
}
.sorted {
    background: #FAA;
    border: 1px solid black;
}
.selected + :not(.selected) {
    border-top: 1px solid black;
}
.selected ~ :not(.selected) {
    opacity: 0.5;
}
